<!DOCTYPE html>

<html>
    <head>
        <title> Touch </title>
   </head>
   
    <body>
        <body bgcolor="#999966">
        <div align="right">
        <h4><font size="3">Stories/memories:  <a href= "http://itp.nyu.edu/~hm825/sinatra/week2/name">randomized</a> </font></h4>
        </div>
        <h3>
            <div align="center">
        <img src= "http://farm3.staticflickr.com/2769/4127312804_d85f134d61_z.jpg" ></body>
            </div>
        </h3>
        
        <body>
            <div align="center">
                <font color="#333333 hex_number">
           <p2>This site is dedicated to anonymous storytelling on the fly.</p2>
           <p2>To read others' contributions, provide your own.</p2>
        
        <div align="center">
         <p3>Please <a href= "http://itp.nyu.edu/~hm825/sinatra/week2/name"><font size="5"><b>provide</b></font></a> your story </p3>
                </font>
        </div>
        
        </body>
   
</html>
