<!DOCTYPE html>
<html>
  <body bgcolor="#CCCC99">
    
      <h2>Please provide your information to contribute:</h2>
       <font color="#333333 hex_number">
      <form action="http://itp.nyu.edu/~hm825/sinatra/week2/savename" method="POST">
        <p><label>              What is your name?</label> <input type="text" name="name"/></p>
        <div align="center">
        <p><label>If you would like to receive updates about this project, please submit your email address:</label><input type="text", name="email"/></p>
        </div>
          <div align="right">
           <p4> <font size="1"><b> This information will only be used to contact you regarding updates about this project.</b></font></p4>
           <p4><font size="1"><b>None of your information will not be linked to your story</b></font></p4>
        <input type="submit" value="Provide" /></p>
        </div>
      </form>
       </font>
  </body>
</html>