<!DOCTYPE html>
    <html>

<body bgcolor="#999966">
<div align="center">
  <font color="#333333"> 
    <b>
    <h2><%= @message %></h2>
   <p> Thank you for your contribution.</p>
    <h3><a href="http://itp.nyu.edu/~hm825/sinatra/week2/blog">Go read others'stories...</a></h3>
    </b>
    </div>
    </font>
    </html>
