<!DOCTYPE html>

<html>
    <body bgcolor="#999966">
    <font color="#333333 hex_number">
    <div align="center">
      <p> There have been no shared stories for this subject yet....
        <%= @message %></p>
         </font>
         <b>
        <h3><a href="http://itp.nyu.edu/~hm825/sinatra/week2/blog">Back to the collection...</a></h3>
        </b>
       </div> 
    </body>
</html>