
<!DOCTYPE html>
<html>

<body bgcolor="#999966">
<h2><%=@message%></h2>
<div align="center">
<p1> <font color="#333333 hex_number">  Next you will receive a prompt.  Please write a <b>story</b>, a <b>memory</b>, a <b>fable</b>, a <b>dream </b> you have had or have encountered about this randomized prompt.</p1>
<p2><br>Remember, your name will never be revealed. Once you have contributed a story, please feel free to read others' entries.</br></p2>
<h3><a href="http://itp.nyu.edu/~hm825/sinatra/week2/blog/new"></font> Contribute Here! </a></h3>
</div>
<a href="http://farm5.staticflickr.com/4147/4965335903_dc35bf73d4_z.jpg"></a> 

</body>

</html>