  </style>
  </head>
 
  <body>
      <h1>Words_make_Here</h1>
    <p>
    <form action="http://itp.nyu.edu/~hm825/sinatra/week2/word/save" method="POST">
    <p><label>Prompt:</label> <input type="text" name="prompt" /></p>
    <p><input type="submit" value="Go" /></p>
  </form>

  </body>
</html>
